h1 {
    background-color: rgb(155, 155, 207);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



.container {
    width: 100vw;
    height: 100vh;
    background: #ccd6e2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 655px;
    height: 347px;
    gap: 10px;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 21px;
    opacity: 0px;
    position: absolute;
    background: #FCFCFC;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.288);

}

div .faq {
   width: 46px;
   height: 29px; 
   margin-left: 35%;
   margin-top: 7%;
}

div .paragrafo {
    width: 347px;
    margin-left: 35%;
}

/* div .paragrafo::before {
    background-image: url('./src/img/seta\ aberta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 9px;
} */

div .img img {
    width: 278px;
    height: 293px;
    position: relative;
    left: -275px;
    z-index: 1;

}

div .seta img {
    width: 15px;
    height: 9px;
    position: relative;
    z-index: 1;
}